@model IEnumerable<StackOverflow.Web.Models.PostModel>

@{
    ViewBag.Title = "Index";
}

<div>
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-1 text-center">
                <div>
                    <span>0</span>
                    <br>
                    <small>
                        <span>votes</span>
                    </small>
                </div>
                <div class="mt-2">
                    <span>0</span>
                    <br>
                    <small>
                        <span>answers</span>
                    </small>
                </div>
            </div>
            <div class="col-md-11">
                <h5>
                    @Html.ActionLink(@item.Title, "Details", new {  id=item.Id })
                </h5>
                <p>
                    @if(item.Content.Length > 100)
                    {
                        @item.Content.Substring(0, 100)
                    }
                    else
                    {
                        @item.Content
                    }
                </p>
            </div>
            <div class="col-md-12 text-right">
                <div class="px-5">
                    <small>
                        <span>Asked at @item.CreatedAt.ToLocalTime()</span>
                        <br>
                        <span>By Fahim</span>
                    </small>
                </div>
            </div>
        </div>
    }
</div>

