@model IEnumerable<StackOverflow.Web.Models.PostModel>

@{
    ViewBag.Title = "Index";
    var count = Model.Count();
}

@if(Model.Count() == 0)
{
    <div>
        <h3 class="text-center">No Questions Available....</h3>
    </div>
}
else
{
    <div>
        @foreach (var item in Model)
        {
            count--;
            <div class="row">
                <div class="col-md-1 text-center">
                    <div>
                        <span>@item.TotalVotes</span>
                        <br>
                        <small>
                            <span>votes</span>
                        </small>
                    </div>
                    <div class="mt-2">
                        <span>@item.TotalAnswers</span>
                        <br>
                        <small>
                            <span>answers</span>
                        </small>
                    </div>
                </div>
                <div class="col-md-11">
                    <h5>
                        @Html.ActionLink(@item.Title, "Details", new { id = item.Id })
                        @if (item.IsDuplicate)
                        {
                            <span class="ml-2 btn-warning btn-sm rounded-pill">
                                Duplicate
                            </span>
                        }
                    </h5>
                    <p>
                        @if(item.Content.Length > 300)
                        {
                            @item.Content.Substring(0, 300)
                        }
                        else
                        {
                            @item.Content
                        }
                    </p>
                </div>
                <div class="col-md-12 text-right">
                    <div class="px-5">
                        <small>
                            <span>Asked at @item.CreatedAt.ToLocalTime()</span>
                            <br>
                            <span>By @item.AskedBy</span>
                        </small>
                    </div>
                </div>
            </div>
            if(count != 0)
            {
                <hr />
            }
        }
    </div>
}